{{define "content"}}<h1>Update your password</h2>

<form action="/passwords/{{.Data.Token}}" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="put" />
  <input required="required" autocomplete="new-password" placeholder="Enter new password" maxlength="72" size="72" type="password" name="password" id="password" /><br>
  <input required="required" autocomplete="new-password" placeholder="Repeat new password" maxlength="72" size="72" type="password" name="password_confirmation" id="password_confirmation" /><br>
  <input type="submit" name="commit" value="Save" data-disable-with="Save" />
</form>{{end}}
