{{define "content"}}<main>
  <h1>Change password</h1>

  <form class="password-form" data-controller="passwords" action="/settings/password" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" />
{{template "form_errors" .Data.Errors}}
    <div class="form-group">
      <label for="user_existing_password">Existing password</label>
      <input data-passwords-target="password" type="password" name="user[existing_password]" id="user_existing_password"{{if .Data.ExistingInvalid}} aria-invalid="true"{{end}} autocomplete="current-password" />
    </div>

    <div class="form-group">
      <label for="user_new_password">New password</label>
      <input data-passwords-target="password" type="password" name="user[new_password]" id="user_new_password"{{if .Data.NewInvalid}} aria-invalid="true"{{end}} autocomplete="new-password" />
    </div>

    {{/* Hidden until the controller is there to make it work. */}}
    <div class="checkbox-field" data-passwords-target="toggle" hidden>
      <input type="checkbox" id="show_passwords" data-action="passwords#toggle" />
      <label for="show_passwords">Show passwords</label>
    </div>

    <button type="submit" class="action-button">Change password</button>
  </form>
</main>
{{end}}
