{{define "content"}}<main data-controller="passwords">
  <nav class="dual-nav">
    <ol class="breadcrumbs">
      <li><a href="/settings">Settings</a></li>
      <li>Password</li>
    </ol>

    {{template "settings_nav" .Data.Nav}}
  </nav>

  <form class="edit_user" id="edit_user_{{.User.ID}}" action="/settings/password" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" />
  <h2>Change your password</h2>
{{with .Data.Errors}}    <div style="color: red">
      <h2>{{pluralize (len .) "error"}} prohibited this from being saved:</h2>

      <ul>
{{range .}}          <li>{{.}}</li>
{{end}}      </ul>
    </div>
{{end}}
  <div>
{{if .Data.ExistingInvalid}}    <div class="field_with_errors"><label for="user_existing_password">Existing password</label></div>
    <div class="field_with_errors"><input data-passwords-target="password" type="password" name="user[existing_password]" id="user_existing_password" /></div>
{{else}}    <label for="user_existing_password">Existing password</label>
    <input data-passwords-target="password" type="password" name="user[existing_password]" id="user_existing_password" />
{{end}}  </div>

  <div>
{{if .Data.NewInvalid}}    <div class="field_with_errors"><label for="user_new_password">New password</label></div>
    <div class="field_with_errors"><input data-passwords-target="password" type="password" name="user[new_password]" id="user_new_password" /></div>
{{else}}    <label for="user_new_password">New password</label>
    <input data-passwords-target="password" type="password" name="user[new_password]" id="user_new_password" />
{{end}}  </div>

  <div>
    <input type="submit" name="commit" value="Update User" data-disable-with="Update User" />
  </div>

</form>
  <section class="form-actions" data-passwords-target="actions">
  </section>
</main>
{{end}}
