{{define "account_approved.html"}}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>

  <body>
    <p>An admin approved your TinyStart account. You can now sign in and set up your start page:</p>
    {{/* The link text is the URL itself, as in the text body. A link whose
         text hides where it goes is another thing a phishing filter scores. */}}
    <p><a href="{{.URL}}">{{.URL}}</a></p>
    <hr>
    <p style="font-size: 12px; color: #666666;">You received this email because this address was used to sign up for TinyStart at <a href="{{.URL}}">{{.URL}}</a></p>
  </body>
</html>
{{end}}