header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: var(--header-bg-color);
  backdrop-filter: blur(0.25em);
  box-shadow: var(--header-shadow);

  nav {
    display: flex;
  }
  nav.expandable-menu {
    display: none;
    &.visible {
      display: flex;
    }
  }

  form {
    width: auto;
    max-width: inherit;
  }

  a, button {
    font: inherit;
    cursor: pointer;
    color: var(--button-fg-color);

    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 4em;
    padding: 0 1em;
    min-width: 2em;
    background: transparent;
    border: none;

    &:hover {
      background: var(--header-link-hover-color);
      color: var(--button-fg-color);
      text-decoration: none;
    }

    & > svg {
      height: 2em;
      fill: var(--button-fg-color);
    }

    & > span {
      display: none;
    }
  }

  button {
    margin-right: 0;
  }
}

header #expandable-menu-link {
  display: none;
  &.visible {
    display: flex;
    flex-shrink: 0;
  }
}

header .expandable-menu {
  flex-direction: column;
  width: 100vw;

  a, button {
    width: 100%;
    & > svg {
      margin-right: 0.5em;
    }
    & > span {
      display: block;
    }
  }
}

@media screen and (min-width: 36em) {
  header {
    position: relative;
    background: none;
    box-shadow: none;
    padding: 0 1em;
    gap: 1em;

    nav {
      gap: 1em;
    }
  }

  header #expandable-menu-link.visible { display: none; }
  header nav.expandable-menu {
    display: flex;
    flex-direction: row;
    width: auto;

    a, button {
      width: auto;
    }
  }
  header :is(a, button) {
    height: auto;
    padding: 0.5em 0;
    color: var(--link-color);

    &:hover {
      background: none;
      color: var(--link-hover-color);
      text-decoration: underline;
    }

    & > span { display: block; }
    & > svg { display: none; }
  }
}

@media screen and (min-width: 48em) {
  header :is(a, button) {
    & > span { display: block; }
    & > svg { display: none; }
  }
}
