.dual-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid var(--border-color);
  margin-bottom: 2em;

  .breadcrumbs {
    margin: 0;
    font-size: 1.5em;
  }
}

.secondary-nav {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1em;

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    font-weight: bold;
    text-align: center;

    &:hover {
      text-decoration: none;
    }

    &.active {
      color: var(--fg-color);
      text-decoration: underline;
      text-decoration-thickness: 0.125em;
    }
  }
}

.breadcrumbs {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    font-weight: 900;
  }

  a {
    font-weight: normal;
  }

  li a::after {
    content: "/";
    display: inline-block;
    padding: 0 0 0 0.25em;
    color: var(--fg-color);
  }
}

@media screen and (min-width: 36em) {
  .dual-nav {
    flex-direction: row;
  }

  .secondary-nav {
    align-items: center;
    justify-content: center;
  }
}
