{{define "command_bar"}}<section class="command-bar">
    <input type="text"
           data-command-bar-target="input"
           data-action="input->command-bar#search keydown->command-bar#handleKeydown"
           placeholder="Search links, web, or type URL..."
           spellcheck="false"
           autocomplete="off"
           autofocus>
    <div class="command-bar-suggestions" data-command-bar-target="suggestions">
      {{htmlComment "Dynamic suggestions will be inserted here"}}
    </div>
  </section>
{{end}}
